* {
	box-sizing: border-box: ;
}


body {
	color: #444;
	font-size: 18px;
	font-family: 'Lato', sans-serif; 
	line-height: 1.5;
}

.subtitle {
	font-weight: normal;
	font-size: 1.5em;
	color: #888;
	margin-bottom: .5em;
	padding: 0;
	display: inline-block;
}

.logo {
	margin-right: .5em;
	font-size: 3em;
	font-weight: normal;
	display: inline-block;
	padding: 0;
	margin-bottom: -30px;
}

.wrapper {
	width:1200px;
	margin: 0 auto;

}

a {
	color: #d00;
	text-decoration: none;
	-webkrit-transition: all 300ms;
}

a:hover {
	color: #a00;
}

.side-bar h1 {
	font-weight: 900;
}

.menu-main {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu-main li {
	display: inline-block;
	float: left;
	width: 16.66%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu-main a {
	display: block;
	color: white;
	padding: 15px;
	background-color: #000;
	border-right: 1px solid white;
	text-align: center;
}

.menu-main a:hover {
	background: #900;
}


.main {
	float: left;
	width: 66.66%;
	display: block;
}

.side-bar {
	float: right;
	margin-top: 6em;
	width: 348px;
	padding: 0;
	display: block;
	line-height: 1.5;
	color: #888;
}

.side-bar h1{
	font-size: 1.17em;
}

.module {
	border-bottom: 1px solid #DDD;
	padding: 20px 0;
}

.blog-date {
	font-size: 2em;
	font-weight: normal;
	color: #CCC;
	margin: 0;
	padding: 0;
	display:block;
}

.blog-title {
	font-size: 2em;
	font-weight: normal;
	color: black;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	margin: 10px 0;
	max-width: 100%;
}

.ad img {
	margin: auto;
}

.teaser {
	border-bottom: 1px solid #DDD;
	margin: 3em 0;
	padding-bottom: 1.5em;
}

.more-link {
	text-align: right;
	font-weight: bold;
}

.footer {
	float: left;
	clear: both;
}